* {
    box-sizing: border-box;
    margin: 0;
}

body, html {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

#email {
    height: 2.5em;
    padding-left: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 16px;
}

.login {
    width: 100%;
    height: 100%;
    background: linear-gradient(white, gainsboro);
}

input:not(input[type="submit"]):not(input[type="checkbox"]) {
    height: 4.5em;
    width: 470px;
    border-radius: 7px;
    box-shadow: inset 0 0 1.5px 0 grey, 0 0 0 0.25px lightgrey, 0 0.5px 0 0.5px white;
    border: 0.5px solid grey;
    outline: none;
    padding-left: 10px;
    text-align: left;
}

input::placeholder {
    opacity: 0.7;
}

input[type="submit"] {
    width: 470px;
    border-radius: 0;
    height: 4em;
    border: 0.5px solid grey;
    background: linear-gradient(white, gainsboro);
    box-shadow: 0 0.25px 0 0.25px white;
    font-weight: bold;
    cursor: pointer;
}

.notice {
    border: thick double black;
    padding: 10px;
    position: absolute;
    bottom: 0;
}
